<div class='onboarding-card onboarding-card-sm mb-4'>
  <header class="header-account">
    <h1 class="h2 text-center mb-0">Renvoyer le messsage d'activation</h1>
  </header>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'body' }) do |f| %>
    <%= f.rg2a_explain_required_asterisk %>
    <%= render "layouts/form_errors", resource: resource, resource_name: :user %>
    <p>Pour finaliser votre inscription, nous devons d’abord vérifier votre identité. Pour cela indiquez-nous l’adresse électronique associée à votre compte.</p>
    <div class="form-group">
      <%= f.label :email do %>
        Adresse électronique (e-mail)
        <%= f.rg2a_required_content_tag %>
      <% end %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', required: true %>
    </div>

    <div class="actions d-flex d-sm-block text-center">
      <%= f.submit "Renvoyer", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
