<div class='onboarding-card onboarding-card-sm my-4'
     data-controller="signup"
     data-signup-channel-value="<%= resource.channel %>">
  <header class="header-account">
    <h1 class="h2 text-center">Renvoyer le message d'activation</h1>
  </header>

  <div class="body">
    <%= form_with(model: resource,
                  scope: resource_name,
                  url: confirmation_path(resource_name),
                  data: { turbo: false },
                  html: { method: :post }) do |f| %>
      <%= render "layouts/form_errors", resource: resource, resource_name: :user %>
      <p>Pour finaliser votre inscription, nous devons d’abord vérifier votre identité. Pour cela indiquez-nous l’adresse électronique associée à votre compte.</p>
      <%= f.rg2a_explain_required_asterisk %>
      <%= render 'users/select_channel',
                  label: 'Comment vous contacter ?',
                  form: f,
                  resource: resource,
                  phone: 'SMS' do %>
          <small class="small form-text text-muted">Recevoir une réponse à une candidature, réinitialiser votre mot de passe, être contacté par un employeur…</small>
      <% end %>


      <div class="actions d-flex d-sm-block text-center">
        <%= f.submit "Renvoyer", class: "fr-btn" %>
      </div>
    <% end %>
  </div>
</div>
