<tr class="test-student-<%= student.id %>">
  <td>
    <%= link_to Presenters::User.new(user: student).short_name, dashboard_school_class_room_student_path(student.school, student.class_room, student) %>
  </td>
  <td id="has_parental_consent" class="text-right">
    <% if student.has_parental_consent %>
      <i class="fas fa-check"></i>
    <% elsif can?(:update, student) %>
      <%= form_for student, as: :user, url: dashboard_school_user_path(student.school, student), method: :patch do |f| %>
        <%= f.hidden_field :has_parental_consent, value: true, class: 'form-control col-lg-6' %>
        <%= f.submit 'Valider', class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <i class="fas fa-times"></i>
    <% end %>
  </td>
</tr>
