<div class='onboarding-card onboarding-card-sm my-4'>
  <header class="header-account">
    <h1 class="h2 text-center mb-0"><%= t('.resend_unlock_instructions') %></h1>
  </header>
  <%= form_with(model: resource,
                scope: resource_name,
                data: { turbo: false },
                url: unlock_path(resource_name),
                html: { method: :post }) do |f| %>
    <%= f.rg2a_explain_required_asterisk %>
    <%= render "layouts/form_errors", resource: resource, resource_name: :user %>

    <div class="form-group">
      <%= f.label :email, class: "fr-label" do %>
        Adresse électronique (e-mail)
        <%= f.rg2a_required_content_tag %>
      <% end %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "fr-input", required: true %>
    </div>

    <div class="actions d-flex d-sm-block text-center">
      <%= f.submit t(".resend_unlock_instructions"), class: "fr-btn" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
