<%= form_for [@school, @class_room] do |form|  %>
  <%= render "layouts/form_errors", object: @class_room %>
  <div class="form-group">
    <%= form.label :name, 'Nom de la classe', class: 'required' %>
    <%= form.text_field :name, required: true, class: 'form-control' %>
  </div>
  <div class="actions"><%= form.submit 'Soumettre', class: 'btn btn-primary' %></div>
<% end %>
