<fieldset class="select-channel fr-fieldset ">
  <legend class="fr-fieldset__legend fr-text--regular">
   <div class="label">
    <%= label %>
   </div>
   <% if block_given? %>
    <%= yield %>
   <% end %>
  </legend>

  <div class='row' >
    <div class='col-6 d-table form-group '>
      <%= form.label :channel, "Email", class: "channel-radio-label fr-label d-table-cell align-middle", for: "select-channel-email" do %>
        <%= form.radio_button :channel, "Par email", id: "select-channel-email", "data-action" => "change->signup#checkEmail", "data-signup-target" => "emailRadioButton" %>
          Par email
      <% end %>
    </div>
    <div class='col-6 d-table form-group'>
      <%= form.label :channel, "Par SMS", class: "channel-radio-label fr-label d-table-cell align-middle", for: "select-channel-phone" do %>
        <%= form.radio_button :channel, "phone", id: "select-channel-phone", "data-action" => "change->signup#checkPhone", "data-signup-target" => "phoneRadioButton" %>
          <%= phone %>
      <% end %>
    </div>
  </div>

  <div data-signup-target="emailBloc" class="form-group email d-none registration">
    <%= form.rg2a_explain_required_asterisk(p_class_name: "mb-0") %>
    <%= form.label :email, class: "fr-label" do %>
      <span data-signup-target="label">
        <%= resource.school_manager? ? "Adresse électronique académique" : "Adresse électronique (e-mail)" %>
      </span>
      <small class="form-text text-muted" data-signup-target="emailExplanation"> </small>
    <% end %>
    <%= form.email_field :email,
                         class: 'fr-input',
                         value: resource.email.blank? ? params[:email] : resource.email,
                         placeholder: "ex: nom@exemple.fr",
                         autofocus: params[:email].blank? ? true : false,
                         data: {action: 'change->signup#onBlurEmailInput', :"signup-target" => 'emailInput'} %>
    <small class="d-none" data-signup-target="emailHint"></small>
  </div>
  <div data-signup-target="phoneBloc" class="form-group phone d-none">
    <%= form.label :phone, 'data-action' => "click->signup#focusPhone", for: 'phone-input' do %>
      <span>Numéro de mobile</span>
      <small class="form-text text-muted">Ce numéro sera utilisé pour communiquer avec vous</small>
    <% end %>
    <%= react_component("CountryPhoneSelect",
      props: {
        name: 'user[phone]',
        value: resource.phone || params[:phone]
      })
    %>
    <small class="text-muted">(+33 puis 06 11 22 33 44 par exemple)</small>
  </div>
</fieldset>
