<fieldset class="select-channel">
  <legend class="label">
   <%= label %>
   <% if block_given? %>
    <%= yield %>
   <% end %>
  </legend>

  <div class='row' >
    <div class='col-6 d-table form-group'>
      <%= form.label :channel,
                    "SMS",
                    class: 'channel-radio-label  d-table-cell align-middle',
                    for: "select-channel-phone" do %>
        <i class="fa fa-fw fa-4x fas fa-<%= phone == 'SMS' ? 'sms' : 'mobile-alt' %>"></i>
        <br/>
        <%= form.radio_button :channel,
                        "phone",
                        id: 'select-channel-phone',
                        'data-action' => "change->signup#checkPhone",
                        'data-signup-target' => 'phoneRadioButton'   %>
          <%= phone %>
      <% end %>
    </div>
    <div class='col-6 d-table form-group'>
      <%= form.label :channel,
                     "Email",
                     class: 'channel-radio-label d-table-cell align-middle',
                     for: "select-channel-email" do %>

        <i class="fa fa-fw fa-4x far fa-envelope"></i>
        <br />
        <%= form.radio_button :channel,
                              "email",
                              id: 'select-channel-email',
                              'data-action' => "change->signup#checkEmail",
                              'data-signup-target' => 'emailRadioButton'   %>
          Email
      <% end %>
    </div>
  </div>

  <div data-signup-target="emailBloc" class="form-group email d-none">
    <%= form.label :email do %>
      <span data-signup-target="label"><%= resource.school_manager? ? 'Adresse électronique académique' : 'Adresse électronique (e-mail)'%></span>
      <small class="form-text text-muted" data-signup-target="emailExplanation">Cette adresse sera utilisée pour communiquer avec vous</small>
    <% end %>
    <%= form.email_field :email,
                         class: 'fr-input',
                         value: resource.email.blank? ? params[:email] : resource.email,
                         placeholder: "ex: nom@exemple.fr",
                         autofocus: params[:email].blank? ? true : false,
                         data: {action: 'change->signup#onBlurEmailInput', :"signup-target" => 'emailInput'} %>
    <small class="d-none" data-signup-target="emailHint"></small>
  </div>
  <div data-signup-target="phoneBloc" class="form-group phone d-none">
    <%= form.label :phone, 'data-action' => "click->signup#focusPhone", for: 'phone-input' do %>
      <span>Numéro de mobile</span>
      <small class="form-text text-muted">Ce numéro sera utilisé pour communiquer avec vous</small>
    <% end %>
    <%= react_component("CountryPhoneSelect",
      props: {
        name: 'user[phone]',
        value: resource.phone || params[:phone]
      })
    %>
    <small class="text-muted">(+33 puis 06 11 22 33 44 par exemple)</small>
  </div>
</fieldset>
