<div data-target="signup.selectChannel" class="form-group select-channel">
  <div class="label">
    <%= label %>
    <div>
      <%= yield %>
    </div>
  </div>

  <div data-target="signup.selectChannel" class='row my-2'>
    <div class='col-6'>
      <%= radio_button_tag :channel,
                          "email",
                          false,
                          id: 'channel-email',
                          'data-action' => "change->signup#checkEmail" %>
      <%= label_tag :channel, "Email",
                            class: 'channel-radio-label',
                            for: "select-channel-email",
                            "data-action" => "click->signup#chooseEmail" do %>
        <div class="image-channel image-email"></div>
        <span>Email</span>
      <% end %>
    </div>
    <div class='col-6'>
      <%= radio_button_tag :channel,
                          "phone",
                          false,
                          class: 'channel-radio-button',
                          id: 'channel-phone',
                          'data-action' => "change->signup#checkPhone" %>
      <%= label_tag :channel,
                    "SMS",
                    class: 'channel-radio-label',
                    for: "select-channel-phone",
                    'data-action' => "click->signup#choosePhone" do %>
        <div class="image-channel image-sms"></div>
        <span>SMS</span>
      <% end %>
    </div>
  </div>
</div>

<div data-target="signup.emailBloc" class="form-group email d-none">
  <%= form.label :email do %>
    <span data-target="signup.label"><%= resource.school_manager? ? 'Adresse électronique académique' : 'Adresse électronique (e-mail)'%></span>
    <small class="form-text text-muted">Cette adresse sera utilisée pour communiquer avec vous</small>
  <% end %>
  <%= form.email_field :email, class: 'form-control', value: resource.email.blank? ? params[:email] : resource.email, placeholder: "ex: nom@exemple.fr", data: {action: 'change->signup#onBlurEmailInput', target: 'signup.emailInput'} %>
  <small class="d-none" data-target="signup.emailHint"></small>
</div>
<div data-target="signup.phoneBloc" class="form-group phone d-none">
  <%= form.label :phone, 'data-action' => "click->signup#focusPhone" do %>
    <%= 'Numéro de mobile' %>
    <small class="form-text text-muted">Ce numéro sera utilisé pour communiquer avec vous</small>
  <% end %>
  <%= react_component("CountryPhoneSelect",
    {
      name: 'user[phone]',
      value: resource.phone
    })
  %>
</div>

