<div class='onboarding-card onboarding-card-sm mb-4'>
  <header class="header-account">
    <h1 class="h2 text-center"><%= t('.change_your_password') %></h1>
  </header>

  <div class="body">
    <%= form_with(model: resource,
                  scope: resource_name,
                  url: password_path(resource_name),
                  data: { turbo: false },
                  html: { method: :put}) do |f| %>
      <%= f.rg2a_explain_required_asterisk %>
      <%= render "layouts/form_errors", resource: resource, resource_name: :user %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group custom-label-container">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
        <%= f.label :password do %>
          <%= t('.new_password') %>
          <% if @minimum_password_length %>

          <% end %>
          <%= f.rg2a_required_content_tag %>
        <% end %>
        <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
      </div>

      <div class="form-group custom-label-container">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        <%= f.label :password_confirmation do %>
          <%= t('.confirm_new_password') %>
          <%= f.rg2a_required_content_tag %>
        <% end %>
      </div>

      <div class="actions d-flex d-sm-block text-center">
        <%= f.submit t('.change_my_password'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
