<p>
  <%= "Ceci est une invitation..." %>
</p>
</p>
<p>
  <%= "Bienvenue #{@invitation_first_name} #{@invitation_last_name}, " %> "#{}"
</p>
<p>
  <%= "#{@from_name} du collège #{@school_name} vous invite à rejoindre la plateforme monstagedetroisieme.fr" %>
</p>
<p>
  Elle vous permettra d'accompagner et de suivre vos élèves dans leurs recherches de stage.
</p>
<p>
  = "Pour vous inscrire cliquez sur le lien ci-après "
  <a href='<%= @link %>'><%= @link %> </a>
  

