<% if @resource.pending_reconfirmation? %>
  <p>Bonjour, nous venons de recevoir une demande de changement d'Adresse électronique (e-mail) pour votre compte monstagedetroisieme.fr.<p>
  <p>Avant de procéder merci de confirmer </p>
  <ul>
    <li>Votre Adresse électronique (e-mail) actuelle est <%= @resource.email %></li>
    <li>Votre nouvelle Adresse électronique (e-mail) sera <%= @resource.unconfirmed_email%></li>
  </ul>
  <p>
    <%= link_to "Je confirme changer l'Adresse électronique (e-mail) de mon compte monstage de troisieme.fr", confirmation_url(@resource, confirmation_token: @token) %>
  </p>
<% else %>
  <p>Bienvenue <% @resource.first_name %>,</p>

  <p><%= link_to "Cliquez sur ce lien pour confirmer votre compte", confirmation_url(@resource, confirmation_token: @token) %></p>

  <% if @resource.is_a?(Users::Student) %>
    <p>En plus de confirmer votre compte par email, veuillez : </p>
    <ul>
      <li>faire signer l'autorisation parentale, en pièce jointe, par vos responsables légaux</li>
      <li>la rendre à votre professeur principal (qui confirmera votre accès à la plateforme, vous en serez notifié par mail).</li>
    </ul>
    <p>Merci.</p>
  <% end %>

  <% if @resource.is_a?(Users::MainTeacher) %>
    <p>
      Vous trouverez notre modèle d'autorisation parentale en pièce jointe.
      <br />
      Vos élèves doivent la faire signer par leurs responsables légaux, vous la rendre et que vous confirmiez l'avoir réçus via votre <%= link_to 'tableau de suivis', @resource.custom_dashboard_path %>
    </p>
  <% end %>
<% end %>
