<%= form_for @school do |f| %>
  <%= render "layouts/form_errors", object: @school %>
  <% unless current_user.is_a?(God) %>
    <fieldset>
      <div class="form-group">
        <%= f.label :week_ids, 'Sélectionnez les semaines de stage du collège', class: 'required' %>
        <%= f.select :week_ids, options_from_collection_for_select(@current_weeks, :id, :select_text_method, @school.week_ids), {}, multiple: true, class: "form-control col-lg-6", required: true %>
        <small class="form-text text-muted">Si vous souhaitez choisir plusieurs semaines, utilisez la touche contrôle.</small>
      </div>
    </fieldset>
  <% end %>

  <fieldset>
    <div class="form-group">
      <%= f.label :name, 'Nom de votre établissement', class: 'required' %>
      <%= f.text_field :name, class: 'form-control col-lg-6', required: true %>
    </div>
  </fieldset>

  <fieldset data-controller="algolia-place">
    <div class="form-group d-none" data-target="algolia-place.autocompleteFormGroup" >
      <%= f.label :autocomplete, "Adresse du collège", class: 'required' %>
      <%= f.text_field :autocomplete, placeholder: "Saisir l'adresse et confirmer avec l'aide à la saisie",
                                         value: @school.formatted_autocomplete_address,
                                         required: true,
                                         data: { target: 'algolia-place.autocompleteInput' } %>

      <small class="form-text text-muted">Merci de renseigner l'adresse précise de votre collège.</small>
      <input type="hidden"
             name="school[coordinates][latitude]"
             value="<%= @school.coordinates&.lat %>"
             data-target="algolia-place.latitudeInput" />
      <input type="hidden"
             name="school[coordinates][longitude]"
             value="<%= @school.coordinates&.lon %>"
             data-target="algolia-place.longitudeInput" />
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :street, 'Rue', class: 'required' %>
            <%= f.text_field :street, class: "form-control", required: true, data: {target: 'algolia-place.streetInput'} %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :city, 'Ville', class: 'required' %>
            <%= f.text_field :city, class: "form-control", required: true, data: {target: 'algolia-place.cityInput'} %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <%= f.label :zipcode, 'Code postal', class: 'required' %>
            <%= f.text_field :zipcode, class: "form-control", required: true, data: {target: 'algolia-place.zipcodeInput'} %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
<% end %>
