<div data-controller="select-school"
     data-select-school-choose-class-room="<%= (select_class_room) %>">
  <%= form.fields_for(resource.school || resource.build_school) do |school_form| %>
    <%# SELECT CITY %>
    <div class="form-group">
      <div class="row">
        <div class="col-12">
          <%= school_form.label :city do %>
            <%= defined?(school_city_label) ? school_city_label : "Ville de mon collège" %>
            <% if defined?(school_city_help) %>
              <small class="small form-text text-muted"><%= school_city_help %></small>
            <% end %>
            <% if required %>
              <%= school_form.rg2a_required_content_tag %>
            <% end %>
          <% end %>
          <div class= "input-group">
            <%= school_form.text_field :city,
                                      data: { target: 'select-school.inputSearchCity' },
                                      class: 'form-control col-lg-6',
                                      required: required,
                                      autocomplete: :off,
                                      placeholder: defined?(school_city_placeholder) ? school_city_placeholder : "Rechercher la ville de mon collège" %>
            <div class="input-group-append">
              <button type=button
                      class="btn btn-outline-secondary"
                      data-action="click->select-school#onResetCityClicked"
                      data-target="select-school.resetSearchCityButton"><i class="fas fa-times"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ul class="list-group" data-target="select-school.listCities">
            <% School.all.map(&:city).uniq.each do |city| %>
              <a data-city="<%= city %>"
                 class="list-group-item"
                 data-action="click->select-school#onSelectCity"
                 data-target="select-school.cityItem"><%= city %></a>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%# SELECT SCHOOL %>
    <div class="form-group">
      <%= form.label :school_id do %>
        Collège
        <% if required %>
          <%= form.rg2a_required_content_tag %>
        <% end %>
      <% end %>
      <%= form.text_field :school_id,
                          value: '',
                          disabled: true,
                          readonly: true,
                          data: {target: 'select-school.placeholderSchoolInput'},
                          class: 'form-control col-lg-6' %>

      <div data-target="select-school.listSchools">
        <% School.all.includes(:class_rooms).each do |school| %>
          <div class="custom-control custom-radio"
               data-target="select-school.schoolItem"
               data-city="<%= school.city %>">
            <%= form.radio_button :school_id,
                                  school.id,
                                  class: 'custom-control-input',
                                  id: "select-school-#{school.id}",
                                  required: required,
                                  data: {
                                    "action": "change->select-school#onSelectSchool",
                                    "class-room-available": school.class_rooms.to_json
                                  } %>
            <%= form.label :school_id, "#{school.name} - #{school.city}",
                           class: 'custom-control-label',
                           for: "select-school-#{school.id}" %>
          </div>
        <% end %>
      </div>
    </div>

    <%# SELECT CLASS_ROOM %>
    <% if select_class_room %>
      <div class="form-group">
        <%= form.label :class_room_id, "Classe" %>
        <%= form.select :class_room_id,
                        options_from_collection_for_select((resource.school || resource.build_school).class_rooms,
                                                           :id,
                                                           :name,
                                                           resource.class_room),
                        {},
                        class: 'form-control col-lg-6', data: {target: 'select-school.classRoomSelect'}, disabled: !resource.class_room.present? %>
      </div>
    <% end %>
  <% end %>
</div>
