<div data-controller="select-school" >
  <div class="form-group">
    <%= form.label :school, 'Ville de mon collège', class: 'required' %>
    <small class="form-text text-muted"> Veuillez sélectionner une option</small>

    <div class="row">
      <div class="col-12">
        <div class= "input-group">
          <%= form.fields_for (school || School.new) do |city_form| %>
            <%= city_form.text_field :city,
                                      data: {target: 'select-school.inputSearchCity'},
                                      class: 'form-control col-lg-6',
                                      required: true,
                                      autocomplete: false %>
          <% end %>
          <div class="input-group-append">
            <button type=button
                    class="btn btn-outline-secondary"
                    data-action="click->select-school#resetCitySearch"
                    data-target="select-school.resetSearchCityButton"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul class="list-group" data-target="select-school.listCities">
          <% School.all.map(&:city).uniq.each do |city| %>
            <a data-city="<%= city %>"
               class="list-group-item"
               data-action="click->select-school#onSelectedCity"
               data-target="select-school.cityItem"><%= city %></a>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="required">Mon Collège</label>
    <div data-target="select-school.listSchools">
      <% School.all.each do |school| %>
        <div class="custom-control custom-radio"
             data-target="select-school.schoolItem"
             data-city="<%= school.city %>">
          <%= form.radio_button :school_id,
                                school.id,
                                class: 'custom-control-input',
                                id: "select-school-#{school.id}",
                                required: true %>
          <%= form.label :school_id, "#{school.name} - #{school.city}",
                         class: 'custom-control-label',
                         for: "select-school-#{school.id}" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
