<%= link_to internship_offer_path(internship_offer), class: 'col-12 internship-item py-2', data: { sector: "#{internship_offer.sector}", target: "internship-index.offer", "test-id": "#{internship_offer.id}" } do %>
  <p class="text-strong mb-0"><%= internship_offer.title %></p>
  <p class="text-muted mb-0">
    <%= internship_offer.employer_city %>
    <% unless internship_offer.available_all_year? %>
      <p> Disponible du <%= internship_offer.week_day_start.beginning_of_week %> au <%= internship_offer.week_day_end.end_of_week %>
      </p>
    <% end %>
  </p>
<% end %>
