<%= form_for [:dashboard, @school, @class_room] do |form|  %>
  <%= form.rg2a_explain_required_asterisk %>
  <%= render "layouts/form_errors", resource: @class_room, resource_name: :class_room %>

  <div class="form-group">
    <%= form.label :name do %>
      Nom de la classe
      <%= form.rg2a_required_content_tag %>
    <% end %>
    <%= form.text_field :name, required: true, class: 'form-control col-lg-6' %>
  </div>
  <div class="actions">
    <%= form.submit 'Enregistrer', class: 'btn btn-primary' %>
    <%= link_to 'Annuler', dashboard_school_class_rooms_path(@school), class: 'btn btn-link' %>
  </div>
<% end %>
