<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Monstage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'styles' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
  </head>

  <body>
    <div class="container pb-3">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>

    <% if Rails.env.development? %>
      <script>
        console.log('', "<%= current_user&.to_s || 'logged in as visitor' %>")
      </script>
    <% end %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
  </body>
</html>
