<!DOCTYPE html>
<html lang="fr" >
  <head>
    <title>Monstage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_pack_path('images/favicon.png') %>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

    <%= stylesheet_pack_tag 'styles', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true  %>
  </head>

  <body class="<%= env_class_name %>" data-controller='feedback-form'>
    <a name="top" id="top"></a>

    <div class="content container">
      <header role="banner">
        <div class="row">
          <div class="col px-0"><%= render 'layouts/navbar' %></div>
        </div>
      </header>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
    <div class="footer container mt-3 pb-3 bg-dark-light">
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'feedbacks/form' %>
    <% if Rails.env.development? %>
      <script>
        console.log('', "<%= current_user&.to_s || 'logged in as visitor' %>")
      </script>
    <% end %>
  </body>
</html>
