<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Monstage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'styles' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
  </head>

  <body>
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag asset_pack_path('images/mon-stage-3e-logo.svg'), alt: "Logo - mon stage de 3ème", width: 270, height: 152, class: 'mx-auto d-block logo' %>
      <% end %>
      <%= render 'layouts/flash' %>
      <%= yield %>
      <script type="text/javascript">console.log("session: <%= current_user.role %>")</script>
    </div>
  </body>
</html>
