<!DOCTYPE html>
<html lang="fr" class="<%= env_class_name %>">
  <head>
    <title>Monstage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= favicon_link_tag asset_pack_path('images/favicon.png') %>

    <%= stylesheet_pack_tag 'styles', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true  %>
  </head>

  <body>
    <div class="container pb-3">
      <header role="banner">
        <div class="row">
          <div class="col px-0"><%= render 'layouts/navbar' %></div>
        </div>
      </header>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
    <%= render 'feedbacks/form' %>
    <% if Rails.env.development? %>
      <script>
        console.log('', "<%= current_user&.to_s || 'logged in as visitor' %>")
      </script>
    <% end %>
    <script defer src="https://use.fontawesome.com/releases/v5.8.0/js/solid.js" integrity="sha384-prcFDC6iTvvWsx2iSZtbDdeMVWWOtxcQXXagr9uPHwi42uae31Y3Q17eehHuC0JL" crossorigin="anonymous" data-turbolinks-eval="false"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.0/js/fontawesome.js" integrity="sha384-TAztyRuTlqgZ97tz982rMo44MRC58wyCC0pqKZY3cKWJNkK00qMd3DhQ7R25jpCe" crossorigin="anonymous" data-turbolinks-eval="false"></script>
  </body>
</html>
