<!DOCTYPE html>
<html lang="fr" >
  <head>
    <title>Monstage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <%= stylesheet_pack_tag 'styles', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true  %>
  </head>

  <body class="<%= env_class_name %> <%= body_class_name %>" data-controller='feedback-form'>
    <a name="top" id="top"></a>
    <div class="content">
      <header role="banner" class="custom-navbar <%= homepage? ? '' : 'mb-4' %>">
        <div class="container">
          <div class="row">
            <div class="col px-0"><%= render 'layouts/navbar' %></div>
          </div>
        </div>
      </header>
      <% if homepage? %>
        <%= render 'layouts/flash' %>
        <%= yield %>
      <% else %>
        <div class="container">
          <%= render 'layouts/flash' %>
          <%= yield %>
        </div>
      <% end %>
    </div>
    <div class="footer <%= homepage? ? '' : 'mt-3' %> pb-3">
      <div class="container">
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <%= render 'feedbacks/form' %>
    <% if Rails.env.development? %>
      <script>
        console.log('', "<%= current_user&.to_s || 'logged in as visitor' %>")
      </script>
    <% end %>
  </body>
</html>
