<!DOCTYPE html>
<html lang="fr" data-rf-theme='light'>
  <head>
    <% if content_for?(:canonical_url) %>
      <link rel='canonical' href='<%= yield(:canonical_url) %>' />
    <% end %>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="turbo-visit-control" content="reload">
    <%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>
    <%= stylesheet_pack_tag "application.css", media: "all", 'data-turbo-track': "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/leaflet@1.8.0/dist/leaflet.css", media: "all" %>
    <%= javascript_pack_tag "application.js", defer: true, 'data-turbo-track': "reload" %>
    <%= javascript_include_tag "https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" %>
  </head>

  <body class="<%= env_class_name %> <%= body_class_name %>">
    <a name="top" id="top"></a>
    <div class="content pt-0" data-controller='rg2a'>
      <header role="banner" class="custom-navbar">
        <div class="col px-0"><%= render "layouts/navbar" %></div>
      </header>
      <% if homepage? || statistics? %>
        <%= render 'layouts/flash' %>
        <div role="main"><%= yield %></div>
      <% else %>
        <% if content_for?(:custom_header) %> <%= content_for(:custom_header) %> <% end %>
        <div class="container-monstage">
          <%= render 'layouts/flash' %>
          <div role="main"><%= yield %></div>
        </div>
      <% end %>
    </div>
    <div class="<%= agreement_form? ? "d-none" : "" %>"  data-controller='footer'>
      <%= render 'layouts/footer' %>
    <%= render partial: "layouts/analytics" %>
  </body>
</html>
