<!DOCTYPE html>
<html lang="fr" data-rf-theme='light'>
  <head>
    <% if content_for?(:canonical_url) %>
      <link rel='canonical' href='<%= yield(:canonical_url) %>' />
    <% end %>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <% if turbolink_disabled_to_force_page_refresh? %>
      <meta name="turbolinks-visit-control" content="reload">
    <% end %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>
    <%= stylesheet_pack_tag 'application.css', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application.js', 'data-turbolinks-track': 'reload', defer: true  %>
  </head>

  <body class="<%= env_class_name %> <%= body_class_name %>">
    <a name="top" id="top"></a>
    <div class="content pt-0" data-controller='rg2a'>
      <header role="banner" class="custom-navbar <%= homepage? || statistics? || content_for?(:custom_header) ? '' : 'mb-4' %>">
        <% if onboarding_flow? %>
          <div class="container">
            <div class="row">
              <div class="col px-0"><%= render 'layouts/navbar_auth' %></div>
            </div>
          </div>
        <% else %>
          <div class="col px-0"><%= render "layouts/navbar" %></div>
        <% end %>
      </header>
      <% if homepage? || statistics? %>
        <%= render 'layouts/flash' %>
        <div role="main"><%= yield %></div>
      <% else %>
        <% if content_for?(:custom_header) %> <%= content_for(:custom_header) %> <% end %>
        <div class="container-monstage">
          <%= render 'layouts/flash' %>
          <div role="main"><%= yield %></div>
        </div>
      <% end %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render partial: "layouts/analytics" %>
  </body>
</html>
