<!DOCTYPE html>
<html lang="fr" >
  <head>
    <title>Erreur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>
    <%= stylesheet_pack_tag "application.css", 'data-turbo-track': "reload", media: "all" %>
    <%= javascript_pack_tag "application.js", 'data-turbo-track': "reload", defer: true %>
  </head>

  <body class=''>
    <div class="content pt-0" data-controller='rg2a'>
      <header role="banner" class="custom-navbar">
        <div class="col px-0">
          <%= render "layouts/navbar" %>
          <%= render 'layouts/webinar_banner' if can?(:subscribe_to_webinar, current_user_or_visitor)%>
        </div>
      </header>

        <%= yield %>
    </div>
  </body>
</html>
