<!DOCTYPE html>
<html lang="fr" >
  <head>
    <% if content_for?(:canonical_url) %>
      <link rel='canonical' href='<%= yield(:canonical_url) %>' />
    <% end %>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <% if turbolink_disabled_to_force_page_refresh? %>
      <meta name="turbolinks-visit-control" content="reload">
    <% end %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>
    <%= stylesheet_pack_tag 'application.css', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application.js', 'data-turbolinks-track': 'reload', defer: true  %>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">
  </head>

  <body class="<%= env_class_name %> <%= body_class_name %> homepage">
    <a name="top" id="top"></a>
    <div class="content pt-4" data-controller='rg2a'>
    <%= render 'layouts/flash' %>
    <div role="main"><%= yield %></div>
    </div>
    <%= render 'layouts/footer' %>
    <%= render partial: "layouts/analytics" %>
  </body>
</html>
