<div class='onboarding-card'>
  <header class="header-account">
    <h1 class="h2 text-center mb-0">Créer mon compte</h1>
  </header>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name, as: resource.type.demodulize)) do |f| %>
    <%= f.rg2a_explain_required_asterisk %>
    <%= render "layouts/form_errors", resource: resource, resource_name: :user %>

    <%= f.text_field :type, hidden: true %>

    <% if can?(:choose_school, :sign_up) %>
      <%= react_component(
        "AutocompleteSchool",
        label: "Ville de mon collège",
        required: true,
        resourceName: :user,
        selectClassRoom: can?(:choose_class_room, :sign_up),
        existingSchool: resource.school.as_json,
        existingClassRoom: resource.try(:class_room).try(:as_json),
      ) %>
    <% end %>

    <div class="form-group">
      <%= f.label :first_name do %>
        Prénom
        <%= f.rg2a_required_content_tag %>
      <% end %>
      <%= f.text_field :first_name, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :last_name do %>
        Nom
        <%= f.rg2a_required_content_tag %>
      <% end %>
      <%= f.text_field :last_name, class: 'form-control', required: true %>
    </div>

    <% if can?(:choose_gender_and_birthday, :sign_up) %>
      <div class="form-group">
        <%= f.label :birth_date do %>
          Date de naissance
          <%= f.rg2a_required_content_tag %>
        <% end %>
        <%= f.date_field :birth_date, value: resource.birth_date.strftime('%Y-%m-%d'), class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <div class="label">Sexe <abbr title="(obligatoire)">*</abbr></div>
        <div class="custom-control custom-radio">
          <%= f.radio_button :gender,
                             "f",
                             class: 'custom-control-input',
                             id: "select-gender-girl",
                             required: true  %>
          <%= f.label :gender, "Fille",
                               class: 'custom-control-label',
                               for: "select-gender-girl" %>
        </div>
        <div class="custom-control custom-radio">
          <%= f.radio_button :gender,
                             "m",
                             class: 'custom-control-input',
                             id: "select-gender-boy"  %>
          <%= f.label :gender, "Garçon",
                               class: 'custom-control-label',
                               for: "select-gender-boy" %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email do %>
        <%= resource.type == 'Users::SchoolManager' ? 'Adresse électronique académique' : 'Adresse électronique (email)' %>
        <%= f.rg2a_required_content_tag %>
      <% end %>
      <%= f.email_field :email, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password do %>
        Choisir un mot de passe
        <small class="form-text text-muted"><%= I18n.t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
        <%= f.rg2a_required_content_tag %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation do %>
        Confirmer le mot de passe
        <%= f.rg2a_required_content_tag %>
      <% end %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true %>
    </div>

    <% if can?(:choose_operator, :sign_up) %>
      <div class="form-group">
        <%= f.label :operator do %>
          Opérateur
          <%= f.rg2a_required_content_tag %>
        <% end %>
        <%= f.select :operator_id, options_from_collection_for_select(Operator.all, :id, :name, resource.operator), { prompt: operator_options_for_default }, class: "form-control" %>
      </div>
    <% end %>

    <div class="actions d-flex d-sm-block text-center">
      <%= f.submit "Je m'inscris", class: 'btn btn-warning' %>
    </div>
  <% end %>
</div>
