<h2><%= t('devise.registrations.new.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.text_field :type, hidden: true %>
  <% if resource.type == "Student" %>
    <%= render 'users/form/select_school', form: f, resource: resource, select_class_room: true %>

    <div class="form-group">
      <%= f.label :first_name, 'Prénom', class: 'required' %>
      <%= f.text_field :first_name, class: 'form-control col-lg-6', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, 'Nom', class: 'required' %>
      <%= f.text_field :last_name, class: 'form-control col-lg-6', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :birth_date, 'Date de naissance', class: 'required' %>
      <%= f.date_field :birth_date, class: 'form-control col-lg-6', required: true %>
    </div>

    <div class="form-group">
      <div class="required">Genre</div>
      <div class="custom-control custom-radio">
        <%= f.radio_button :gender,
                           "m",
                           class: 'custom-control-input',
                           id: "select-gender-boy"  %>
        <%= f.label :gender, "Garçon",
                                class: 'custom-control-label',
                                for: "select-gender-boy" %>
      </div>
      <div class="custom-control custom-radio">
        <%= f.radio_button :gender,
                           "f",
                           class: 'custom-control-input',
                           id: "select-gender-girl"  %>
        <%= f.label :gender, "Fille",
                       class: 'custom-control-label',
                       for: "select-gender-girl" %>
      </div>
    </div>

  <% end %>


  <div class="form-group">
    <%= f.label :email,
                resource.type == 'SchoolManager' ? 'Courriel professionnel' : 'Courriel',
                class: 'required' %>
    <%= f.email_field :email, class: 'form-control col-lg-6', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'required' %>
    <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control col-lg-6', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'required' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control col-lg-6', required: true %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.new.sign_up'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
